.outter_container {
  position: relative;
  justify-content: center;
  align-items: center;
}

.contain {
  position: relative;
  margin: 0 auto;
  width: 65%;
  background-color: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid rgb(112, 110, 110);
  border-radius: 10px;
  transition: all 5s ease-in-out;
  z-index: 5;
}

.form label {
  font-weight: 600;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  /* visibility: hidden; */
  opacity: 0;
}

/* .overlay:target {
  visibility: visible;
  opacity: 1;
} */

.contain .close {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  border: none;
  background-color: #fff;
}

.popup .close:hover {
  color: #06D85F;
}
